html {
  background: #f7efd2;
  color: #fff;
  font-family: "pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: #eed7a1;
  padding: 1rem;
}

h1 {
  color: #475c6c;
  font-size: 75px;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  row-gap: 100px;
}

.polaroid {
  background-color: #fff;
  padding: 1rem 1rem 4rem;
  box-shadow: 5px 7px 4px #888888;
  height: 300px;
  width: 300px;
}

img {
  width: 19rem;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #cd8b62;
  padding: 4rem;
  font-size: 50px;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

/* responsive */ 