html {
  background: #f7efd2;
  color: #fff;
}

.header {
  background-color: #eed7a1;
  padding: ;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-content: space-between;
  row-gap: 100px;
  column-gap: auto;
}

.polaroid {
  background-color: #fff;
  padding: 1rem 1rem 4rem;
  box-shadow: 5px 7px 4px #888888;
  height: 300px;
  width: 300px;
}

img {
  width: 19rem;
}

.footer {
  background-color: #cd8b62;
  padding: 4rem;
}

/* responsive */ 